*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background-color: hsl(214, 17%, 92%);
    padding: 30px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.testimonials-grid{
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;
    margin: 20px 0;
    max-width: 330px;
}

.card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 25px 30px 50px -10px rgba(0, 0, 0, 0.3);

}

.card--purple{
    background-color: hsl(263, 55%, 52%);
    color: hsl(0, 0%, 100%);
}

.card--purple .card__header img {
    border: 2px solid hsl(264, 82%, 70%);
}

.card--gray{
    background-color: hsl(217, 19%, 35%);
    color: hsl(0, 0%, 100%);
}

.card--white1, .card--white2{
     background-color: hsl(0, 0%, 100%);
     color: hsl(217, 19%, 35%)
}

.card--black{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
}

.card__header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.header_name h3 {
    font-size: 13px;
    font-weight: 600;
}

.header_name p {
    opacity: 0.5; 
}

.card__header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.card__lead{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 15px;
}

.card__quote{
    font-weight: 500;
    line-height: 1.5;
    opacity: 0.7;
}

@media (min-width: 1100px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 40px;
    }
    .testimonials-grid{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto auto;
        gap: 24px;
        width: 100%;
        max-width: 1110px;

    }
    .card--gray{
        grid-column: 3/4;
    }
    .card--white1{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .card--white2{
        grid-column: 4/5;
        grid-row: 1/3;
    }
    .card--black{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .card--purple{
        grid-column: 1/3;
        grid-row: 1/2;
        background-image: url('./images/bg-pattern-quotation.svg');
        background-repeat: no-repeat;
        background-position: top 0 right 15%;
    }
}